@import url("../variables/variables.css");

#about {
    background-color: var(--secondary-color);
}

#about p {
    font-family: var(--font-poppins), sans-serif;
    font-size: 18px;
    color: #fff;
}

@media (max-width: 1400px) {
    #about h2 {
        font-size: 26px;
    }

    #about p {
        font-size: 16px;
    }
}