@import url("../variables/variables.css");

.navbar-custom {
    background-color: transparent !important;
}

.navbar .container {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.navbar-custom .nav-link {
    color: #fff !important;
}

.navbar-custom .nav-link:hover {
    color: var(--primary-color) !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav {
    align-items: flex-start !important;
}