@import url("../variables/variables.css");

.navbar-brand {
    transform: scale(0.90);
    padding-bottom: 0px !important;
}

.navbar-custom {
    background-color: transparent !important;
}

.navbar .container {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.navbar-custom .nav-link {
    color: #fff !important;
}

.navbar-custom .nav-link:hover {
    color: var(--primary-color) !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav {
    align-items: center !important;
}

.navbar-scrolled {
    backdrop-filter: blur(5px) !important;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) !important;
}

.no-border {
    border-bottom: none !important;
}

@media (max-width: 990px) {
    .navbar {
        padding: 0px 0px 0px 0px !important;
    }

    .navbar .container {
        max-width: 100% !important;
        backdrop-filter: blur(5px) !important;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) !important;
        border-bottom: none !important;
    }
}