@import url("../variables/variables.css");

footer .container-fluid:first-child {
    background-color: var(--primary-color);
    padding: 60px 0px 60px 0px;
}

footer ul {
    list-style-type: none;
}

footer .container .row {
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: var(--font-poppins), sans-serif
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-item p {
    margin: 0px;
}

.footer-item p:nth-child(1) {
    font-size: 12px;
}

.footer-item img {
    background-color: #fff;
    padding: 6px;
    border-radius: 10px;
    margin-right: 10px;
}

footer .container-fluid:last-child {
    background-color: var(--primary-color);
}

footer .container-fluid:last-child p {
    font-family: var(--font-poppins), sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: right;
}

@media (max-width: 1400px) {
    footer p {
        font-size: 12px;
    }
}

@media (max-width: 990px) {
    footer .container-fluid:first-child .row div:nth-child(1) {
        margin-bottom: 18px;
    }

    footer .container-fluid:first-child {
        padding: 25px 0px 25px 0px;
    }

    #footer-logo {
        display: flex;
        justify-content: center;
    }
}