:root {
  --primary-color: #FC5E09;
  --secondary-color: #262626;
  --tertiary-color: #323232;
  --font-bebas: 'Bebas Neue';
  --font-poppins: 'Poppins';
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}